div.col.diceAPI{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 10px;
}

#charades, #hum, #act, #cam, #pc, #skulpture, #mindmeld, #spelling, #zelpuz, #quiz, #gen, #free{
    text-align: center;
    margin-top: 4em;
}

#charades-topic, #hum-topic, #act-topic, #cam-topic, #pc-topic, #skulpture-topic, #mindmeld-topic, #spelling-topic, #zelpuz-topic, #quiz-topic, #free{
    font-size: 25px;
}

.container{
    margin-bottom: 4em;
}